.st1 {
  padding: 2rem;
  background-color: var(--grey-color);
}

.header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--purple-color);
}

.name,
.email,
.dob,
.gender,
.location,
.typeOfInvestment,
.investedOn,
.interest,
.balance {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Label {
  width: 150px;
  margin-right: 1rem;
  font-weight: 500;
  color: var(--black-color);
}

input[type='text'],
select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--black-color);
  border-radius: 4px;
}

span {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
}

.button1,
.button2,
.button3 {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button1 {
  background-color: var(--purple-color);
  color: var(--white-color);
  margin-right: 1rem;
}

.button2,
.button3 {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.button2:hover,
.button3:hover {
  background-color: var(--light-black-color);
}
